@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100&display=swap');

*{
    margin:0px;
    padding:0px;
    /*cursor: url('images/cursor.png') 24 24,auto;*/
    cursor: crosshair;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 20px;
}

body{
    font-family: 'Yantramanav', sans-serif;
    background-image: url("images/background_new.png");
    color:white;   
    /*overflow: hidden;*/

    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;

    /*user-select: none;*/
}

p{
    margin:0px;
    padding:0px;
    font-weight: normal;
}

h1{
    font-family: 'Bungee Hairline', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.introduction{
    position: absolute;
    top: 10%;
    left: 9%;
    width: 50vw;
    height : 50vh;
    /*background-color: rgb(68, 0, 255);*/

    /*-webkit-animation: fadeIn 2s steps(40, end);
    animation: fadeIn 2s steps(40, end);*/
    display: block;
}

.introduction_hi{
    font-size:1.2vw;
    font-family: 'Yantramanav', sans-serif;
}

.introduction_name{
    font-size:4vw;
    margin:10px;
    margin-left: 0;
    font-weight: bold;
    font-family: 'Bungee Hairline', sans-serif;
}

.introduction_shorts{
    font-size:1.2vw;
    opacity:0.9;
    font-family: 'Yantramanav', sans-serif;
}

.introduction_summary{
    font-size:1.9vw;
    margin-top:25px;
    font-family: 'Poppins', sans-serif;
}

.introduction_extra{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 40px;
    font-family: 'Oxanium', sans-serif;
    font-size:1.1vw;
    text-transform: uppercase;
}

.introduction_perks{
    font-size:0.77vw;
    margin-top: 20px;
    margin-right: 14%;
    margin-left: 15%;
    font-family: 'Yantramanav', sans-serif;
    text-transform: uppercase;

}

.about{
    position: absolute;
    top: 7%;
    left: 7%;
    /*width: calc(100vw - 780px);*/
    width : 40vw;
    display: none;
}

.about_name{
    font-size:3vw;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.about_summaryA{
    margin-left: 40px;
    font-size:1.2vw;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    border-left: 1px dashed white;
    padding: 10px;
}

.about_summaryB{
    margin-left: 40px;
    font-size:1.5vw;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    border: 1px dashed white;
    padding: 10px;
    text-align: center;
}

.about_shortcut{
    border-right: 1px dashed white;
    padding-right: 10px;
    /*margin-left: 30px;*/
    font-family: 'Oxanium', sans-serif;
    font-size:15px;
    text-align: right;
}

.about_extra_linkedin{
    margin-top: 20px;
}

.about_extra_email{
    margin-top: 10px;
}

.about_extra_stopstalk{
    margin-top: 10px;
}

.status{
    position: absolute;
    top: 7%;
    left: 7%;
    width: calc(100vw - 780px);
    display: none;
}

.skills
{
    display: none;
}

.skills_title{
    position: absolute;
    top: 5%;
    left: 6%;
}

.skills ::-webkit-scrollbar {
    background: rgb(59, 59, 59);
    border-radius: 25px;
    width: 3px;
}

.skills_body{
    position: absolute;
    top: 12%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 70%;
    padding:20px;
}

.skills-align-start{
    display:flex;
    align-items:flex-start;
}

.skills-align-start img{
    width:25px;
    height: 25px;
    margin:10px;
}

.software_title{
    flex-grow: 1;
    width: 1vw;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.software_title p{
    font-size: 10px;
    opacity: 0.7;
    text-transform: uppercase;
    transform: rotate(-90deg);
    font-weight: bold;
    margin-left: 30px;
}

.software_skills{
    flex-grow: 3;
    width: 8vw;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.software_skills ul{
    list-style-type: none;
}

.software_skills li{
    margin-bottom: 10px;
}

.programming_title{
    flex-grow: 1;
    width: 1vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.programming_title p{
    font-size: 10px;
    opacity: 0.7;
    text-transform: uppercase;
    transform: rotate(-90deg);
    font-weight: bold;
    margin-left: 30px;
}

.programming_skills{
    flex-grow: 3;
    width: 8vw;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}


.programming_skills ul{
    list-style-type: none;
}

.programming_skills li{
    margin-bottom: 10px;
}

.pertrait_title{
    flex-grow: 1;
    width: 1vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.pertrait_title p{
    font-size: 10px;
    opacity: 0.7;
    text-transform: uppercase;
    transform: rotate(-90deg);
    font-weight: bold;
    margin-left: 30px;
}

.traits{
    flex-grow: 3;
    width: 8vw;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.traits ul{
    list-style-type: none;
}

.traits li{
    margin-bottom: 20px;
}

.traits p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.info_title{
    flex-grow: 1;
    width: 1vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_title p{
    font-size: 10px;
    opacity: 0.7;
    text-transform: uppercase;
    transform: rotate(-90deg);
    font-weight: bold;
    margin-left: 30px;
}

.info{
    flex-grow: 3;
    width: 8vw;
    padding:20px;
}

.info p{
    margin-top: 20px;
}

.progress{
    height: 8px;
}

.projects{
    position: absolute;
    top: 7%;
    left: 6%;
    width: 85vw;
    display: none;
}

.projects ul{
    height: 320px;
    list-style-type: none;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding-bottom: 10px;
    overflow: hidden;
    
}

.projects ul:hover{
    overflow-x: scroll;
}

.projects li{
    height: 255px;
    box-shadow: 15px 15px 5px rgb(0, 0, 0);
    overflow: visible;
    margin: 15px;
    transition: all .2s ease-in-out;
    margin-left: 70px;
    margin-right: 20px;
    border: 2px solid #a1a1a1;
    border-radius: 10px;
}

.projects li img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.projects li p{
    position: relative; 
    bottom: 40px;
    margin-left: -50px;
    font-size: 12px;
    
    padding:5px;
    width:170px;
    text-align: center;
    border:1px solid #7a7a7a;
    border-style: solid;
    border-width: 1px;
    opacity: 0.7;

    border-radius: 5px;

    font-weight: bold;
}

.projects li:hover{
    transform: scale(1.1,1.1);
}

.projects ::-webkit-scrollbar {
    background: rgb(59, 59, 59);
    border-radius: 25px;
    height: 7px;
}

.creations{
    position: absolute;
    top: 7%;
    left: 6%;
    width: 90vw;
    display: none;
}

.creations ul{
    height: 320px;
    list-style-type: none;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding-bottom: 10px;
    overflow: hidden;
}
.creations ul:hover{
    overflow-x: scroll;
}

.creations li{
    height: 254px;
    box-shadow: 15px 15px 5px rgb(0, 0, 0);
    overflow: visible;
    margin: 15px;
    transition: all .2s ease-in-out;
    margin-left: 70px;
    margin-right: 20px;
    border: 2px solid #a1a1a1;
    border-radius: 10px;
}

.creations li img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.creations li p{
    position: relative; 
    bottom: 40px;
    margin-left: -50px;
    font-size: 12px;
    
    padding:5px;
    width:170px;
    text-align: center;
    border:1px solid #7a7a7a;
    border-style: solid;
    border-width: 1px;
    opacity: 0.7;

    border-radius: 5px;
    font-weight: bold;
}

.creations li:hover{
    transform: scale(1.1,1.1);
}

.creations ::-webkit-scrollbar {
    background: rgb(59, 59, 59);
    border-radius: 25px;
    height: 7px;
}

.reviews{
    position: absolute;
    top: 10%;
    left: 30%;
    justify-content: center;
    align-items: center;
    display: none;
}

.reviews img{
    width: 60%;
}

.social_link{
    position: absolute;
    bottom: 20px;
    right: 30px;
    opacity: 0.6;
    transition: all .2s ease-in-out;
}

.social_link ul{
    list-style-type: none;
    margin-top: 10px;
}

.social_link ul li{
    /*float: left;*/
    margin-top:25px;
    margin-bottom:25px;
    text-align: center;
}

.social_link ul li a{
    transform: scale(1.1,1.1);
}
.social_link li a:hover{
    transform: scale(1.6,1.6);
}

.social_link:hover{
    opacity: 1;
}

.portrait{
    position: absolute;
    top : 40px;
    right: 20px;
    bottom : 40px;
    margin: 0 auto;
    opacity: 1;
    width : 400px;
}

.portrait img{
    height:  100%;
}

.under_const{
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.3;
}

.pages_title{
    font-size:2.5vw;
    /*margin:0px;*/
    font-weight: bold;
}

.pages{
    position: absolute;
    bottom: 6%;
    left: 5%;
    width: 60%;
    
    /*-webkit-animation: fadeIn 2s steps(40, end);
    animation: fadeIn 2s steps(40, end);*/
}

.pages ul{
    list-style-type: none;
}

.pages ul li{
    float: left;
    margin-right:60px;
    margin-top:10px;
    text-align: center;
}

.pages p{
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid rgb(8, 197, 255);
    width: 8.8em;
    -webkit-animation: typewritter 2.5s steps(40, end);
    animation: fadeIn typewritter 2.5s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.pages ul li a{
    font-size: 0.9vw;
    font-family: 'Oxanium', cursive;
    color:#d1d1d1;
}

.pages_button{
    display: none;
    }

.pages_button button{
    background-color: transparent;
    border-color: transparent;
}

@keyframes fadeIn {
    0% {opacity:0;visibility: hidden;}
    100% {opacity:1;visibility: visible;}
}

@keyframes fadeOut {
    0% {opacity:1; visibility: visible;}
    100% {opacity:0; visibility: hidden;}
}


@keyframes typewritter {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(255, 182, 71);
    }
    100% {
      border: none;
    }
}
  
  @-webkit-keyframes typewritter {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(255, 182, 71);
    }
    100% {
      border: none;
    }
}


/* DESKTOP 1381 */
@media (min-width: 1025px)  and (max-width: 1381px) {

.introduction{
    position: absolute;
    top: 10%;
    left: 7%;
    /*background-color: rgb(68, 0, 255);*/
    
        /*-webkit-animation: fadeIn 2s steps(40, end);
        animation: fadeIn 2s steps(40, end);*/
}

.introduction_hi{
    font-size:1rem;
    font-family: 'Yantramanav', sans-serif;
}

.introduction_name{
    font-size:3.3rem;
    margin:10px;
    margin-left: 0;
    font-weight: bold;
    font-family: 'Bungee Hairline', sans-serif;
}

.introduction_shorts{
    font-size:1rem;
    opacity:0.9;
    font-family: 'Yantramanav', sans-serif;
}

.introduction_summary{
    font-size:1.7rem;
    margin-top:25px;
    font-family: 'Poppins', sans-serif;
}

.introduction_extra{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 40px;
    font-family: 'Oxanium', sans-serif;
    font-size:0.85rem;
    text-transform: uppercase;
}

.introduction_perks{
    font-size:0.6rem;
    margin-top: 20px;
    margin-right: 14%;
    margin-left: 14%;
    font-family: 'Yantramanav', sans-serif;
    text-transform: uppercase;

}

.pages{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 60%;
    
    /*-webkit-animation: fadeIn 2s steps(40, end);
    animation: fadeIn 2s steps(40, end);*/
}

.pages ul{
    list-style-type: none;
}

.pages ul li{
    float: left;
    margin-right:50px;
    margin-top:10px;
    text-align: center;
}

.pages p{
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid rgb(8, 197, 255);
    width: 8.8em;
    -webkit-animation: typewritter 2.5s steps(40, end);
    animation: fadeIn typewritter 2.5s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.pages ul li a{
    font-size: 0.9vw;
    font-family: 'Oxanium', cursive;
    color:#d1d1d1;
}

}

/* MOBILE and TABLET 1024px */
/*@media screen and (max-width: 960px) , screen and (max-height: 555px), (min-width: 768px) and (max-width: 1024px) {*/
@media (max-width: 1095px){  
    .introduction{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height : 71vh;
    
        /*-webkit-animation: fadeIn 2s steps(40, end);
        animation: fadeIn 2s steps(40, end);*/
    }
    
    .introduction_text{
        overflow: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: proximity;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        padding: 5px;
        padding-bottom: 25px;
        height : 65vh;
    }

    .introduction_hi{
        font-size:3vw;
        font-family: 'Yantramanav', sans-serif;
    }
    
    .introduction_name{
        font-size:9.6vw;
        margin:10px;
        margin-left: 0;
        font-weight: bold;
        font-family: 'Bungee Hairline', sans-serif;
    }
    
    .introduction_shorts{
        font-size:3vw;
        opacity:0.9;
        font-family: 'Yantramanav', sans-serif;
    }
    
    .introduction_summary{
        font-size:5.2vw;
        margin-top:30px;
        font-family: 'Poppins', sans-serif;
    }

    .introduction_shortcut{
        border-left: 1px solid #e0e0e0;
        padding-left:15px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    
    .introduction_extra{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10px;
        font-family: 'Oxanium', sans-serif;
        font-size:2.5vw;
        text-transform: uppercase;
    }
    
    .introduction_perks{
        font-size:2vw;
        margin-top: 20px;
        margin-right: 0%;
        margin-left: 0%;
        font-family: 'Yantramanav', sans-serif;
        text-transform: uppercase;
    
    }

    .about{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height : 71vh;
    }
    
    .about_name{
        font-size:6vw;
        padding-bottom: 5px;
    }

    .about_text{
        overflow: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: proximity;
        border-bottom: 1px solid #e0e0e0;
        padding: 5px;
        padding-bottom: 25px;
        height : 55vh;
    }
    
    .about_summaryA{
        font-size:3vw;
        margin-top: 0px;
        margin-left: 0px;
        font-family: 'Poppins', sans-serif;
        border-left: 1px dashed white;
        padding-left: 15px;
    }
    
    .about_summaryB{
        margin-left: 0px;
        font-size:5.2vw;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        border: 1px dashed white;
        padding: 10px;
        text-align: center;
    }
    
    .about_shortcut{
        border-right: 1px dashed white;
        padding: 10px;
        margin: 0;
        font-family: 'Oxanium', sans-serif;
        font-size:2.5vw;
        text-align: right;
    }

    .about_extra_linkedin{
        margin-top: 0px;
    }

    .about_extra_email{
        margin-top: 5px;
    }

    .about_extra_stopstalk{
        margin-top: 5px;
    }

    .skills{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height : 71vh;
    }

    .skills_title{
        font-size:6vw;
    }
    
    .skills ul{
        list-style-type: none;
    }
    
    .skills li{
        margin-bottom: 20px;
    }
    
    .skills ul li p{
        font-family:  'Oxanium', sans-serif;
        text-transform:capitalize;
    }
    
    .skills img{
        width:25px;
        height: 25px;
        margin:10px;
    }
    .skill_title{
        position:fixed;
        
        transform: rotate(-90deg);
        font-size: 10px;
        opacity: 0.7;
        top: 45%;
        display: none;
    }
    
    .skills ::-webkit-scrollbar {
        background: rgb(59, 59, 59);
        border-radius: 25px;
        width: 8px;
    }

    
.software_title{ 
    left: 35px;
}

.prolang_title{
    left: 350px;
}

.pertrait_title{
    left: 740px;
}

.left_skills{
    height: calc(110vh - 400px);
    overflow-y: scroll;
    margin-top: 0;
    padding: 0;
    width: 100%;
    background-color: #6969dd;
}


.right_skills{
    height: calc(110vh - 400px);
    overflow-y: scroll;
    margin-top: 30px;
    float: left;
    margin-left:50px;
    padding-right: 30px;
    display: none;
}

.traits{
    height: calc(110vh - 400px);
    overflow-y: scroll;
    margin-top: 30px;
    float: left;
    margin-left:50px;
    padding-right: 30px;
    display: none;
}

.traits p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.info{
    height: calc(110vh - 400px);
    margin-top: 30px;
    float: left;
    margin-left:50px;
    padding-right: 30px;
    width: 250px;
    display: none;
}


.progress{
    height: 5px;
}

    .social_link{
        position: absolute;
        right:85%;
        bottom: 50%;
        /*left: -30%;*/
        transform: translate(0, 50%);
        opacity: 0.6;
        transition: all .2s ease-in-out;
        overflow-y: scroll;
        overflow-x: hidden;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 35px;
    }
    
    .social_link ul{
        list-style-type: none;
    }
    
    .social_link ul li{
        /*float: left;*/
        margin-top:30px;
        margin-bottom:30px;
    }
    
    .social_link ul li a{
        transform: scale(1.5,1.5);
    }
    .social_link li a:hover{
        transform: scale(1.9,1.9);
    }
    
    .social_link:hover{
        opacity: 1;
    }
    
    .pages_title{
        font-size: 9vw;
        margin: 20px;
        font-family: "Yantramanav";
        border-bottom: 5px dashed #e0e0e0;
        padding: 10px;
    }
    
    .pages{
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgb(25, 25, 25);
        display: none;
    }
    
    .pages ul li{
        background-color: #232329;
        margin:auto;
        width: 100%;
        padding: 20px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .pages ul li a{
        font-size: 5.9vw;
        font-family: 'Oxanium', cursive;
        color:#d1d1d1;
    }

    .pages_button{
        position: absolute;
        top: 67px;
        right: 0px;
    
        display: block;
    }

    .pages_button img{
        width: 5vw;
    }
    .portrait{
        display: none;
    }
}