@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');

@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/Century Gothic/centurygothic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/Century Gothic/centurygothic_bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Alata';
    src: url('fonts/Alata/Alata-Regular.ttf') format('truetype');
    font-weight: normal;
}
 
*{
    margin:0;
    padding:0;
    /*cursor: url('images/cursor.png') 24 24,auto;*/
    cursor: crosshair;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 20px;
}

body{
    font-style: normal;
    font-family: 'Yantramanav';
    background-color: #353535;
    color:white;   
    overflow: hidden;

    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;

    user-select: none;
}

p{
    margin:0px;
    padding:0px;
    font-weight: normal;
}

a{
    text-decoration: none;
}

section{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.background_default{
    background-color: #353535;
    width: 100vw;
    height: 100vh;
}


#background_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
 }

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 90px;
    
    overflow: hidden; 
    border: 2px solid wheat;
}
::-webkit-scrollbar {
    display: none;
}
#main_body{
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    overflow-x: hidden; 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-y: repeat(100%);
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
}

#introduction{
}

#introduction_np{
    position: relative;
    top: 7%;
    left: 7%;
}

#introduction_name{
    font-family: "Zilla Slab Highlight";
    font-size: clamp(50px, 5vw, 80px);
    /* background-color: red; */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255,255,255,.75);
    animation: fadeIn 2s, typewriter 4s steps(44) 1ms 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

#introduction_professions{
    display: inline;
    font-family: "Poppins";
    font-size: clamp(12px, 1.5vw, 24px);
    color: wheat;

    animation: fadeIn 2s;
}

.div_contact{
    margin-top: 20px;
    animation: fadeIn 2s;
    
}

.contact{
    border: 2px solid wheat;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    background-color: #4f4f4f;
    color: white;
    margin-right: 15px;
    font-family: "Poppins";
    font-size: clamp(8px, 1.3vw, 14px);
    font-weight: bold;
    transition: background-color 1s;
    
}

.contact:hover{
    background-color: rgba(245, 222, 179, 0.493);
    transition: background-color 1s;
}

#social_link {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(50%, -50%); /* Center the ul */
    display: flex;
    flex-direction: column; /* Arrange li items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    list-style: none;
    background-color: #3939397e;
    backdrop-filter: blur(1.8px);
    border-radius: 30px;
    padding: 17px;
    transition: background-color 500ms;
}

#social_link:hover {
    background-color: rgba(255, 221, 159, 0.345);
    transition: background-color 500ms;
}

#social_link li{
    margin-bottom: 25px; 
}

#social_link li:last-child {
    margin-bottom: 0px; 
}

#social_link li a{
    text-decoration: none;
    transform: scale(1.3,1.3);
}

#pages{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
    overflow-x: hidden;
    white-space: nowrap;
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pages ul{
    margin-left: 70px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
    /* background-color: #36ff237e; */
}

#pages li{
    display: inline;
    margin-right: 30px;
}

#pages li a{
    font-family: 'Alata';
    text-decoration: none;
    color: wheat;
}

#CV{
    font-family: 'Alata';
    text-decoration: none;
    color: wheat;
    border-left: 2px solid white;
    padding-left: 20px;
    margin-right: 70px;
    margin-bottom: 17px;
}

button:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}

#download_cv
{
    position: absolute;
    top: 10%;
    right: 10%;
    border: 0;
    background-color: transparent;
    font-family: 'Alata';
    color: white;
}

#about{
    
}

.about_texts{
    position: absolute;
    top: 46%;
    left: 80px;
    transform: translate(0, -50%);
    width: 420px;
    padding: 10px;
}

.about_texts.animate{
    animation: slideRightAboutText 2s;
}
.about_texts p{
    font-size: 25px;
    text-shadow: black 1px 1px 3px;
}

#name{
    color: rgb(138, 255, 249);
    font-weight: bold;
}
#degree{
    color: rgb(235, 169, 255);
    font-weight: bold;
}
#university{
    color: rgb(104, 255, 172);
    font-weight: bold;
}
#location{
    color: rgb(255, 130, 130);
    font-weight: bold;
}
#ability{
    color: rgb(255, 244, 118);
    font-weight: bold;
}
#development{
    color: rgb(255, 168, 203);
    font-weight: bold;
}

.about_belief{
    margin-top: 20px;
}

.about_status{
    position: absolute;
    top: 50%;
    right: 240px;
    transform: translate(50%, -50%);
    width: 300px;
    background-color: #35353569;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 10px;
}

.about_status.animate{
    animation: slideleftAboutText 2s;
}

.inline {
    display: flex;
    align-items: center;
}

.inline img {
    margin-right: 10px;
}

.inline p {
    margin: 0 10px; 
}

.about_status ul{
    list-style: none;
    padding: 10px;
}

.about_status li{
    margin-bottom: 5px;
    animation: fadeIn 2s;
    
}

.about_status li *{
    cursor: pointer;
}

.about_status img{
    width: 30px;
    height: 30px;
}

.about_status li div{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.cf{
    background-color: transparent;
    transition: background-color 1s;
}

.cf:hover{
    background-color: rgba(255, 110, 110, 0.548);
    transition: background-color 1s;
}

.cc{
    background-color: transparent;
    transition: background-color 1s;
}

.cc:hover{
    background-color: rgba(110, 255, 110, 0.548);
    transition: background-color 1s;
}

.lc{
    background-color: transparent;
    transition: background-color 1s;
}

.lc:hover{
    background-color: rgba(93, 144, 255, 0.548);
    transition: background-color 1s;
}

.bc{
    background-color: transparent;
    transition: background-color 1s;
}

.bc:hover{
    background-color: rgba(255, 204, 93, 0.548);
    transition: background-color 1s;
}

#services{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:80px;
    padding-right:80px;
}
#services h1{
    overflow: hidden;
    white-space: nowrap;
    font-size: 40px;
    font-weight: bold;
}

#services h1.animate{
    animation: typewriterH1 4s steps(44) 1ms 1 normal both;
}

#service_items
{
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.service_item
{
    border-radius: 30px;
    /* background-color: #4f4f4f59;
    backdrop-filter: blur(5px); */
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#service_items li.animate {
    background-color: #4f4f4f59;
    backdrop-filter: blur(5px);
    animation: fadeInUp 2s forwards;
    animation-delay: calc(1s * var(--index)); /* Change delay to 1s */
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    };
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#service_image{
    height: 150px;
    border-radius:30px;
}

.service_item_desc
{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.ui{
    transition: background-color 1s;
}

.ui:hover
{
    background-color: #196d7859;
    cursor: pointer;
    transition: background-color 1s;
}

.software_dev{
    transition: background-color 1s;
}

.software_dev:hover
{
    background-color: #a6c4c359;
    cursor: pointer;
    transition: background-color 1s;
}

.web_dev{
    transition: background-color 1s;
}

.web_dev:hover
{
    background-color: #410b7659;
    cursor: pointer;
    transition: background-color 1s;
}

.app_dev{
    transition: background-color 1s;
}

.app_dev:hover
{
    background-color: #033f5459;
    cursor: pointer;
    transition: background-color 1s;
}

.model_design{
    transition: background-color 1s;
}

.model_design:hover
{
    background-color: #20338559;
    cursor: pointer;
    transition: background-color 1s;
}

.ml_engineer{
    transition: background-color 1s;
}

.ml_engineer:hover
{
    background-color: #112d5259;
    cursor: pointer;
    transition: background-color 1s;
}

.ui:hover *
{
    cursor: pointer;
}

.software_dev:hover *
{
    cursor: pointer;
}

.web_dev:hover *
{
    cursor: pointer;
}

.app_dev:hover *
{
    cursor: pointer;
}

.model_design:hover *
{
    cursor: pointer;
}

.ml_engineer:hover *
{
    cursor: pointer;
}

.tools
{
    margin-top: 10px;
    list-style: none;
} 

.tools li{
    display: inline;
    align-items: center;
    margin-right: 10px;
}

.tools img{
    width: 20px
}

#Big_Projects .Small_Projects h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#Big_Projects
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project_box
{
    width: 90%;
    background-color: #00000042;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 65px;
}

.project_box h1
{
    font-weight: bold;
    width: 6.5em;
    border-right: white solid 3px;
    white-space: nowrap;
    overflow: hidden;
}

.project_box h1.animate
{
    animation: typewriterH1 4s steps(44) 1ms 1 normal both;
}

@keyframes typewriterH1 {
    0% {width: 0;}
    99% {
    border-right: white solid 3px;}
    100% {width: 6.5em;
    border-right: 0;}
}

#big_project_items
{
    display: flex;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: wheat transparent;
    scrollbar-width: thin;
    padding: 15px;
}

#more_projects
{
    position: absolute;
    bottom: 80px;
    border: 0;
    background-color: rgba(245, 222, 179, 0.185);
    backdrop-filter: blur(3px);
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    animation: hobble 2s infinite;
}

@keyframes hobble {
    0%{transform: translateY(5px);}
    50%{transform: translateY(-5px);}
    100%{transform: translateY(5px);}
}

.more_project_items{
    display: flex;
    flex-direction: row;
}

.more_project_items p{
    font-family: 'Poppins';
    font-weight: bold;
}

.more_project_items img{
    width:20px;
    color: white;
    margin-left: 10px;
}

#small_project_items
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    list-style: none;
    overflow: hidden;
}

#Small_Projects
{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    /* padding-bottom: 30px; */
}

#Small_Projects h1
{
    font-weight: bold;
}

.project_item
{
    width:270px;
    height:270px;
    margin-right: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.482) 3px 3px 10px;
}

.project_item *
{
    cursor: pointer;
}

#Small_Projects .project_item
{
    width:240px;
    height:240px;
}


#project_image
{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.project_item_text {
    position: absolute; /* Position the text absolutely within .project_item */
    bottom: 0;
    left: 0;
    width: 100%; /* Ensure it covers the entire .project_item */
    background-color: rgba(10, 10, 10, 0.39); /* Semi-transparent background */
    backdrop-filter: blur(3px); /* Apply a blur effect */
    display: flex; /* Use flexbox to center content */
    flex-direction: column;
    color: white; /* Text color */
    font-size: 15px;
    padding: 10px;
    transition: background-color 500ms;
    
}

.project_item_text p{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.project_item:hover .project_item_text p{
    max-height: 100px; /* Adjust the value as per your requirement */
    transition: max-height 1s;
}

.project_item:hover .project_item_text{
    background-color: rgba(10, 10, 10, 0.676);
    transition: background-color 500ms;
}

.project_item:hover{
    box-shadow: rgba(0, 0, 0, 0.482) 10px 10px 10px;
}

.project_item_text h3{
    font-size: 20px;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {opacity:0;visibility: hidden;}
    100% {opacity:1;visibility: visible;}
}

@keyframes fadeOut {
    0% {opacity:1; visibility: visible;}
    100% {opacity:0; visibility: hidden;}
}


@keyframes typewriter{
    from{width: 0;}
    to{width: 6.5em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

@keyframes slideRightAboutText{
    0% {left: 0;}
    100% {left: 80px;}
}
@keyframes slideleftAboutText{
    0% {right: 0;}
    100% {right: 240px;}
}


/* MOBILE and TABLET 1024px */
/*@media screen and (max-width: 960px) , screen and (max-height: 555px), (min-width: 768px) and (max-width: 1024px) {*/
